<div class="dashboard" >
  
    
    <div class="card">
      <h3>Apply Loan</h3>
      <p>Click here to Apply loan</p>
      <button (click)="applyLoan()">Apply</button>
    </div>
  
    <div class="card">
      <h3>Check loan status </h3>
      <p>You can check your loan status here</p>
      <button (click)="loanStatus()">Status</button>
    </div>
  
    <div class="card">
      <h3>View loan history</h3>
      <p>Access your loan account details and history.</p>
      <button (click)="loanHistory()">Click here</button>
    </div>

    <div class="card">
      <h3>View loan types</h3>
      <p>Check loan types and its requirement</p>
      <button (click)="loanTypes()">Click here</button>
    </div>
  </div>
  
  

  <div id="Logout">
    <button class="btn btn-danger" (click)="logout()">Logout</button>
  </div>